body {
    background: linear-gradient(135deg, #181818, #abaaaa);
    color: white;
    font-family: Arial, sans-serif;
    overflow-y: scroll;
}

.body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
}

* {
    margin: 0;
    padding: 0;
}

a, a:hover, a:active, a:visited {
     color: white; 
}

.navbar {
    margin-bottom: 50px;
    transition: top 0.3s;
}

.navbar-hidden {
    top: -70px; /* Adjust based on navbar height */
}

.content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-left: 20%;
}

.content p {
    font-size: 1.4rem;
    margin-left: 20%;
}

.profile-pic {
    max-width: 345px; 
    border: 5px solid white;
    border-radius: 50%;
}

.card {
    background: #282828;
    color: white;
    border: none;
    font-size: 1.4rem;
    margin: 20px;
    padding: 20px;
    width: 84%;
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    

.card h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: left;
    width: 100%; 
}

.card p {
    font-size: 1.2rem;
}

.container-fluid {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fade-in-section {
    opacity: 15%;
    transform: translateY(20px);
    transition: opacity 1.0s ease-out, transform 1.26s ease-out;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.fade-out-section {
    opacity: 1;
    transition: opacity 1s ease-out, transform 1.26s ease-out;
}

.fade-out-section.is-hidden {
    opacity: 15%;
    transform: translateY(20px);
}

.social-buttons {
    margin-top: 20px;
}

.social-buttons .btn {
    margin-right: 10px;
}

 .timeline {
    margin: 5em auto;
    max-width:  34.15em;
}

.checkpoint {
    max-width: 20em;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
}

.checkpoint div{
    border: 0px solid #888;
    border-radius: 1em;
    padding: 1.5em;
}

.checkpoint p{
    line-height: 27px;
    max-width: 18em;
}
.checkpoint h3 {
    padding-bottom: 5px;
}

.checkpoint:nth-child(odd) {
    text-align: right;
    border-right: 3px solid #888;
    padding-right: 3em;
    transform: translateX(-9.935em);
}
.checkpoint:nth-child(even) {
    border-left: 3px solid #888;
    padding-left: 3em;
    transform: translateX(9.935em);
}

.checkpoint:nth-child(odd)::before, .checkpoint:nth-child(even)::before{
    content: '';
    background: #888;
    width: 0em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.checkpoint:nth-child(odd)::before {
    right: 0em;
}

.checkpoint:nth-child(even)::before {
    left: 0em;
}

.checkpoint:nth-child(odd) div::before, .checkpoint:nth-child(even) div::before{
    content: '';
    background: #fff;
    box-shadow: 0 0 0.5em #3a3a3a;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.checkpoint:nth-child(even) div::before{
    left: -0.5em;
}

.checkpoint:nth-child(odd) div::before{
    right: -0.5em;
}

@media screen and (max-width: 1150px) {
    .timeline{
        width: 80vw;
    }

    .timeline .checkpoint{
        width: 100%;
        transform: none;
        padding-left: 0;
        padding-right: 0;
        border: none;
    }
    .checkpoint div {
        border: 3px solid #888;
    }

    .timeline .checkpoint::before {
        width: 3px;
        height: 4em;
        top: -2em;
        left: 50%;
        transform:  translateX(-50%);
    }

    .timeline .checkpoint div::before {
        top: -0.5em;
        left: 50%;
        transform: translateX(-50%);
    }
}


.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-card {
    flex: 1 1 calc(33.333% - 20px); 
    max-width: calc(33.333% - 20px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
}

.project-card-inner {
    border: 2px solid white;
    background: none;
    color: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content:space-between; 
    transition: background 0.3s ease, color 0.3s ease;
}

.project-card-inner h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.project-card-inner p {
    font-size: 1rem;
    margin-bottom: 15px;
    flex-grow: 1; 
}

.project-card-inner i {
    font-size: 18px;
    color: white; 
    margin-bottom: 10px;
}

.project-card-inner .btn {
    border: 1px solid white;
    color: white;
    background: none;
    transition: background 0.3s ease, color 0.3s ease;
}

/* Hover effects */
.project-card:hover {
    transform: translateY(-10px);
}

.project-card-inner .btn:hover {
    background: white;
    color: black;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    .project-card {
        flex: 1 1 calc(50% - 20px); 
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .project-card {
        flex: 1 1 calc(100% - 20px); 
        max-width: calc(100% - 20px);
    }
}
#gifContainer {
    display: none; /* Initially hidden */
    /* margin-top: 20px; */
}

#gifImage {
    max-width: 3%; /* Responsive */
    height: auto;
}
